@model IEnumerable<PracticalPart3.Models.DataCenter>

@{
    ViewData["Title"] = "Index";
}

<script>
    function clearSearch() {
        document.getElementsByName('searchString')[0].value = '';
    }
</script>

<h1 class="display-3 text-center fw-bold">Practical Project Part 4</h1>
<p class="display-6 text-center">Jad Jreige</p>

<div class="row">
    <div class="col">
        <p>
            <a asp-action="LoadData">Reload Data</a> |
            <a asp-action="Create">Create New</a> |
            <a asp-action="SaveData">Save CSV</a>
        </p>
    </div>
    <form class="col-3" asp-action="Index">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchString" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Search Database">
            <button type="submit" class="btn btn-primary">Search</button>
            @if ((bool)ViewData["IsSearchPerformed"])
            {
                <button type="submit" class="btn btn-danger" onclick="clearSearch()">Clear</button>
            }
        </div>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FiscalYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiscalPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InformationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SscClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetricName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetricType)
            </th>
            <th></th>
        </tr>
    </thead>
@if (Model.Any())
{
        <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InformationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SscClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
        <tr>
            <td>
                    <p class="fst-italic text-secondary">Rows: @Model.Count()</p>
            </td>
        </tr>
        </tbody>
}
else
{
    <tbody>
        <tr>
            <td colspan="10">
                <p class="fst-italic text-secondary">No records to display</p>
            </td>
        </tr>
    </tbody>
}
</table>
